<?xml version="1.0"?> 

<!--
/**
* Bizspice
* Created by Kapil Kumar 
**/
--> 
<config>
	<modules>
        <Bizspice_Bannerslider>
            <version>1.0.0</version>
        </Bizspice_Bannerslider>
    </modules>
	<admin>
        <routers>
              <adminhtml>
                 <args>
                     <modules>
                         <bannerslider before="Mage_Adminhtml">Bizspice_Bannerslider_Adminhtml</bannerslider>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>
	<global>
		
		<blocks>
            <bannerslider>
                <class>Bizspice_Bannerslider_Block</class>
            </bannerslider>
        </blocks>
		<models>
            <bannerslider>
                <class>Bizspice_Bannerslider_Model</class>
                <resourceModel>bannerslider_mysql4</resourceModel>
            </bannerslider>
            <bannerslider_mysql4>
                <class>Bizspice_Bannerslider_Model_Mysql4</class>
                <entities>
                    <bannerslider>
                        <table>bannerslider</table>
                    </bannerslider>
                </entities>
            </bannerslider_mysql4>
        </models>
		<resources>
            <bannerslider_setup>
                <setup>
                    <module>Bizspice_Bannerslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bannerslider_setup>
            <bannerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannerslider_write>
            <bannerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannerslider_read>
        </resources>
		<helpers>
            <bannerslider>
                <class>Bizspice_Bannerslider_Helper</class>
            </bannerslider>
        </helpers>		
	</global>

</config>